<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="CoreCLR-NCalc" version="2.2.34" targetFramework="net461" />
  <package id="Easy.Logger" version="3.2.0" targetFramework="net461" />
  <package id="Easy.Logger.Interfaces" version="1.1.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.3.0" targetFramework="net461" />
  <package id="Fluent.Ribbon" version="6.1.0.233" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MvvmLightLibsStd10" version="5.4.1" targetFramework="net461" />
  <package id="RichTextBoxAppender" version="1.0.1" targetFramework="net461" />
</packages>